* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at 50% 50%, #232e3a, #141c24);
  color: white;
  font-family: "Poppins", sans-serif;
}
.stripe {
  position: absolute;
  top: 0;
  right: 30%;
  width: 400px;
  height: 100%;
  transform: skewX(-30deg);
  background: #19232c;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  z-index: 2;
}
#logo {
  width: 100px;
  cursor: pointer;
}
.nav {
  width: 60%;
}
.nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.active {
  color: #686cf8;
  border-bottom: 1px solid #686cf8;
  padding-bottom: 5px;
}
a {
  text-decoration: none;
  color: white;
}
.nav a:hover {
  color: #686cf8;
  border-bottom: 1px solid #686cf8;
}

.social {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  z-index: 3;
}
.social > i {
  transition: all 0.2s ease-in;
}
.social > i:hover {
  color: #686cf8;
  transform: translateY(-3px);
}
.dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  left: 30px;
  top: 200px;
}
.far {
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.fas {
  color: #686cf8;
  cursor: pointer;
}
.far:hover {
  color: #686cf8;
  transform: scale(1.2);
}
.pics {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  z-index: 5;
}
.pics > img {
  width: 300px;
  height: 180px;
  cursor: pointer;
  transition: 2s ease;
}
.img:hover {
  opacity: 0;
  transition: 0.3s ease;
  position: relative;
  z-index: 0;
}
#img1,
#img3,
#img5 {
  position: relative;
  z-index: 5;
  margin-right: 100px;
}
#img2,
#img4,
#img6 {
  position: relative;
  z-index: 5;
}
.pics p{
    width: 200px;
    font-size: 1.4rem;
    line-height: 1.7rem;
}
.hidden-s {
  position: absolute;
  top: 30px;
  left: 50px;
  display: none;
}
#img1:hover + .hidden-s {
  display: flex;
}
.hidden-b {
  position: absolute;
  top: 50px;
  right: 50px;
  display: none;
}
#img2:hover + .hidden-b {
  display: flex;
}
.hidden-f {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  left: 50px;
  display: none;
}
#img3:hover + .hidden-f {
  display: flex;
}

.hidden-sc {
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  right: 50px;
  display: none;
}
#img4:hover + .hidden-sc {
  display: flex;
}

.hidden-st {
  position: absolute;
  bottom: 70px;
  left: 50px;
  display: none;
}
#img5:hover + .hidden-st {
  display: flex;
}

.hidden-bi {
  position: absolute;
  bottom: 50px;
  right: 40px;
  display: none;
}
#img6:hover + .hidden-bi {
  display: flex;
}


@media (min-width: 700px) and (max-width: 900px){  
.pics {
    width: 500px;
    height: 600px;
  }
    .pics > img{
        width: 200px;
        height: 150px;
    }
    .pics p{
        width: 180px;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .hidden-s {
        top: 40px;
        left: 10px;
      }
      .hidden-b {
        top: 40px;
        right: 10px;
      }
      .hidden-f {
        top: 50%;
        transform: translateY(-70%);
        left: 10px;
      }
      .hidden-sc {
        top: 50%;
        transform: translateY(-70%);
        right: 0px;
      }
      .hidden-st {
        bottom: 90px;
        left: 20px;
      }
      .hidden-bi {
        bottom: 70px;
        right: 0px;
      }
}

@media (min-width: 300px) and (max-width: 700px){
    .pics {
        width: 320px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 500px;
      }
      .pics > img{
        width: 280px;
        height: 200px;
    }
    .pics p{
        width: 250px;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .hidden-s {
        top: 40px;
        left: 50%;
        transform: translateX(-50%);
      }
      .hidden-b {
        top: 280px;
        right: 50%;
        transform: translateX(50%);
      }
      .hidden-f {
        top: 490px;
        left: 50%;
        transform: translateX(-50%);
      }
      .hidden-sc {
        top: 710px;
        right: 50%;
        transform: translateX(50%);
      }
      .hidden-st {
        bottom: 300px;
        left: 50%;
        transform: translateX(-50%);
      }
      .hidden-bi {
        bottom: 70px;
        right: 50%;
        transform: translateX(50%);
      }
#img1,
#img3,
#img5 {
  margin-right: 0px;
}
#img1,#img2,#img3,#img4,#img5,#img6{
    margin-bottom: 20px;
}
.social{
    bottom: -950px;
    padding-bottom: 50px;
}
header{
    justify-content: center;
}
.nav{
    display: none;
}
.dots {
    flex-direction: row;
    z-index: 5;
    top: 100px;
    width: 80%;
    height: 0;
    padding: 0px 40px;
}
.stripe{
    display: none
    ;
}
}