* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100vh;
  background: radial-gradient(circle at 50% 50%, #232e3a, #141c24);
  color: white;
  font-family: "Poppins", sans-serif;
}
.wrapper{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.stripe {
  position: absolute;
  top: 0;
  right: 30%;
  width: 400px;
  height: 100%;
  transform: skewX(-30deg);
  background: #19232c;
}
header {
  position: relative;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px;
  z-index: 2;
}
#logo {
  width: 100px;
  cursor: pointer;
}
.nav {
  width: 60%;
}
.nav > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
}
.active {
  color: #686cf8;
  border-bottom: 1px solid #686cf8;
  padding-bottom: 5px;
}
a {
  text-decoration: none;
  color: white;
}
.nav a:hover {
  color: #686cf8;
  border-bottom: 1px solid #686cf8;
}

.social {
  position: absolute;
  bottom: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  z-index: 3;
}
.social > i {
  transition: all 0.2s ease-in;
}
.social > i:hover {
  color: #686cf8;
  transform: translateY(-3px);
}
.dots {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
  left: 30px;
  top: 200px;
}
.far {
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.fas {
  color: #686cf8;
  cursor: pointer;
}
.far:hover {
  color: #686cf8;
  transform: scale(1.2);
}
form {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
input {
  position: relative;
  height: 30px;
  width: 80%;
  padding-left: 10px;
  letter-spacing: 1px;
  background: #293441;
  color: white;
  border: none;
  outline: none;
  transition: transform 250ms ease-in-out;
}
input::placeholder {
  color: white;
}
input:focus {
  border-bottom: 1px solid #686cf8;
}
textarea {
  width: 80%;
  padding-left: 10px;
  padding-top: 5px;
  letter-spacing: 1px;
  background: #293441;
  color: white;
  border: none;
  outline: none;
  resize: none;
}
textarea::placeholder {
  color: white;
}
button {
  width: 100px;
  height: 40px;
  font-weight: bold;
  letter-spacing: 2px;
  background: transparent;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(45deg , #2a63cc, #686cf8);
  color: #686cf8;
  outline: none;
  cursor: pointer;
  position: relative;
  transition: all 0.5s ease;
}
button::before{
content:"";
top: 0;
left: 0;
width: 3px;
height: 3px;
background: #686cf8;
position: absolute;
z-index: 30;
}
button::after{
    content:"";
    bottom: 0;
    right: 0;
    width: 3px;
    height: 3px;
    background: #686cf8;
    position: absolute;
    z-index: 30;
}
button:hover::after,
button:hover::before{
    background: white;
}
button:hover {
  background: #686cf8;
  color: white;
  transition: all 0.5s ease;
}



@media (min-width: 300px) and (max-width: 700px){
  header{
    margin-top: 20px;
    padding: 0px 20px;
    flex-direction: column;
    position: absolute;
    top: 0;
  }
  .stripe{
    width: 200px;
  }
  .nav{
    width: 100%;
  }
  header > .nav > ul{
    font-size: 0.7rem;
  }
  .dots{
    display: none;
  }
  form{
    transform: translate(-50%, -40%);
    width: 300px;
    top: 50%;
  }
  .social{
    bottom: 50px;
  }
}